.cell {
  width: 40px;
  height: 40px;

  display: table-cell;

  border: 1px solid grey;

  cursor: pointer;

  &.dead {
    background-color: white;

    &:hover {
      background-color: red;
    }
  }

  &.alive {
    background-color: black;
  }
}
